[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "categoryCompare"]
	path = categoryCompare
	url = https://github.com/rmflight/categorycompare
[submodule "knitrProgressBar"]
	path = knitrProgressBar
	url = https://github.com/rmflight/knitrprogressbar
